.titre{
    font-size:55px;
    float:left;
    margin-left:50px;
    margin-right:1150px;
}

.menuGauche{
    margin-left:50px;;
    
}

.create{
    margin-left:250px;
}

.zoneFind{
    margin-left:250px;
}

.boutAcc{
    margin-left:15px;
}

.itemliste{
    font-size:20px;
    font-weight:bold;
    margin-top:25px;
    margin-left:10px;
}

.menu{
    margin-top:80px;
    font-size:40px;
}

.zoneFind{
    margin-top:20px;
    margin-left:800px;
}
.menuRecherche{
   font-size:25px;
}

.create{
    font-size:50px;
    margin-left:800px;
}

.menuItem{
    font-size:20px;
    margin-top:40px;
    margin-left:15px;
}



